/* popup.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #262626;
    width: 400px; /* Sayfa genişliği, ihtiyaca göre değiştirilebilir */
}

.container {
    width: 100%;
    margin: 0 auto; /* Ortala */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db; /* Header arka plan rengi */
    padding: 10px;
    color: #fff; /* Header metin rengi */
}

.header h1 {
    margin: 0;
}

.content {
    margin-top: 20px;
}

textarea {
    width: calc(100% - 0px);
    max-width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px; 
    background-color: #262626;
    color: #fff;
    height: 150px; 
}

#optimizeButton {
    width: 70%; 
    background-color: #2ecc71; 
    color: #fff; 
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#optimizeButton:hover {
    background-color: #27ae60; 
}

#result {
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    background-color: #292929; 
    padding: 10px;
    color: #fff; 
}

.footer p {
    margin: 0;
}

.github-icon img {
    width: 20px;
    margin-right: 5px;
}

a {
    color: #fff;
}
.select-container {
    display: flex;
    align-items: center;
}

select {
    width: 25%;
    padding: 8px; /* Küçük bir padding eklendi */
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}