/* popup.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #131313;
    width: 300px; /* Sayfa genişliği, ihtiyaca göre değiştirilebilir */
    height: 500px;
}

.container {
    width: 100%;
    margin: 0 auto; /* Ortala */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header h1 {
    font-size: 18px; /* Yazı boyutunu küçült */
    margin-left: 10px; /* İkon ile arasında boşluk bırak */
    flex-grow: 1;
  }

.content {
    margin-top: 20px;
}

textarea {
    width: calc(100% - 0px);
    max-width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px; 
    background-color: #131313;
    color: #fff;
    height: 150px; 
    overflow: hidden; /* Yanları göstermemek için eklenen stil */
    border: none; /* İsteğe bağlı olarak kenar çizgisini kaldırabilirsiniz */
    resize: none; /* Yan çizgileri kaldırmak için eklenen stil */
}

#optimizeButton {
    width: 70%; 
    background-color: #2ecc71; 
    color: #fff; 
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#optimizeButton:hover {
    background-color: #27ae60; 
}

#result {
    margin-top: 10px;
}

.footer {
    width: 500px;
    margin-top: 0px;
    margin-left: -190px;
    text-align: center;
    background-color: #4d4d4d; 
    padding: 15px;
    color: #fff; 
}

.footer p {
    margin: 0;
    font-size: 13px;
}


.github-icon img {
    width: 20px;
    margin-right: 5px;
}


  
.select-container {
    display: flex;
    align-items: center;
}

select {
    width: 40%;
    padding: 8px; /* Küçük bir padding eklendi */
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}
  
#loginButton {
    padding: 10px;
    background-color: #ffffff25;
    color: white;
    border: none;
    border-radius: 50%; /* Tam yuvarlak için %50 */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* İçerikleri ortala */
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px; /* Genişlik ve yükseklik eklendi */
    height: 50px; /* Genişlik ve yükseklik eklendi */
    background: url('İCON/dev.gif') no-repeat center center;
    background-size: 60%; /* Resmi biraz büyüt */
  }
  
  #loginButton:hover {
    background-color: #ffffff23;
  }
  
 h1{
    color: #fff;
 }

 
 /*Radio buttons*/
 
.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    
}

.radio-group {
    display: flex;
    flex-direction: row;
    background-color: #4d4d4d; /* Popup background color */
    padding: 15px;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

input[type="radio"]:checked + label {
    color: #ffffff; /* Change text color for the selected option */
}

/*Alt 2 button*/
.button-container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; /* Remove underline from the link */
}

button {
    width: 290px; /* Icon width */
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #131313; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d3d3d; /* Hover background color */
}

button img {
    margin-right: 5px;
    width: 20px; /* Icon width */
    height: 20px; /* Icon height */
}

.github-button {
    /* Styles for the GitHub button */
}

.report-button {
    /* Styles for the report button */
    background-color: #131313; /* Report button background color (red) */
}


  